body {
    font-family: sans-serif;
    background: #eee;
}

a, h1, h2 {
    color: #377BA8;
}

h1, h2 {
    font-family: 'Georgia', serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

#outer {
    width: 100%;
    text-align: center;
}

.page {
    margin: 2em auto;
    border: 5px solid #ccc;
    background: white;
}

.metanav {
    font-size: 0.8em;
    padding: 0.3em;
    margin: 1em;
    background: #d8dbfa;
    text-align: right;
}

.flash {
    background: #CEE5F5;
    padding: 0.5em;
    border: 1px solid #AACBE2;
}

.error {
    background: #F0D6D6;
    padding: 0.5em;
}

.data_table {
    text-align: left;
    font-size: 1.5em;
}

.table-fixed thead {
    width: 97%;
}

.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}

.table-fixed tbody td, .table-fixed thead > tr > th {
    float: left;
    border-bottom-width: 0;
}

.page_title{
        margin: auto 0.5em;
        font-weight: bold;

}

/* centered columns styles */
.row-centered {
    text-align:center;
    width:100%;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    /* inline-block space fix */
    margin-right:-4px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #6e98cd;
  border-bottom: 10px solid transparent;
}
