<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Recommendations</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_base.css') }}'>
<div id="outer">
    <div class=page>
        <h1 class="page_title">Recommendations for user {{ session['n_user'] }}</h1>
        <div class="metanav">
        <div class="container">
        <div class = "row row-centered">
            {% set name = 'User Based Collaborative Filtering'%}
            {% set recommender = results[name] %}
            <div class="col-xs-4 col-centered container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table class="table table-hover table-fixed data_table">
                            <h4 style="text-align: left">{{ name }}</h4>
                            <thead>
                            <tr class="">
                                <th class="col-xs-4" style="text-align: center">Rank</th>
                                <th class="col-xs-4" style="text-align: center">Item</th>
                                <th class="col-xs-4" style="text-align: center">Rating</th>
                            </tr>
                            </thead>
                            <tbody >
                            {% for rank, item in enumerate(recommender['items']) %}
                                <tr class="">
                                    <td class="col-xs-4" style="text-align: center"><b>{{ rank + 1 }}</b></td>
                                    <td class="col-xs-4" style="text-align: center">{{ item }} </td>
                                    <td class="col-xs-4" style="text-align: center"> {{ recommender['ratings'][rank] |round(1, 'common') }} </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            {% set name = 'Incremental Matrix Factorization' %}
            {% set recommender = results[name] %}
            <div class="col-xs-4 col-centered container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table class="table table-hover table-fixed data_table">
                            <h4 style="text-align: left">{{ name }}</h4>
                            <thead>
                            <tr class="">
                                <th class="col-xs-4" style="text-align: center">Rank</th>
                                <th class="col-xs-4" style="text-align: center">Item</th>
                                <th class="col-xs-4" style="text-align: center">Rating</th>
                            </tr>
                            </thead>
                            <tbody >
                            {% for rank, item in enumerate(recommender['items']) %}
                                <tr class="">
                                    <td class="col-xs-4" style="text-align: center"><b>{{ rank + 1 }}</b></td>
                                    <td class="col-xs-4" style="text-align: center">{{ item }} </td>
                                    <td class="col-xs-4" style="text-align: center"> {{ recommender['ratings'][rank] |round(1, 'common') }} </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
        <div class="container">
        <div class = "row row-centered" >
            {% set name = 'Hybrid recommender' %}
            {% set recommender = results['Hybrid recommender'] %}
            <div class="col-xs-4 col-centered container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table class="table table-hover table-fixed data_table">
                            <h4 style="text-align: left">{{ name }}</h4>
                            <thead>
                            <tr class="">
                                <th class="col-xs-4" style="text-align: center">Rank</th>
                                <th class="col-xs-4" style="text-align: center">Item</th>
                                <th class="col-xs-4" style="text-align: center">Rating</th>
                            </tr>
                            </thead>
                            <tbody >
                            {% for rank, item in enumerate(recommender['items']) %}
                                <tr class="">
                                    <td class="col-xs-4" style="text-align: center"><b>{{ rank + 1 }}</b></td>
                                    <td class="col-xs-4" style="text-align: center">{{ item }} </td>
                                    <td class="col-xs-4" style="text-align: center"> {{ recommender['ratings'][rank] |round(1, 'common') }} </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>