<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User choise</title>
    <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_base.css')}}'>
</head>
<body>
<div class=page>
    <h1>Select a user of cluster {{ session['n_cluster'] }}</h1>

    <div class=metanav>
        <h4>
            <form id='select_cluster' method='post' action='show_rec'>
                <select name="n_user">
                    {% for user in users %}
                        <option value="{{ user }}">{{user }}</option>
                    {% endfor %}
                </select>
                <p>
                    <input type='submit' value='Select this user'/>
                </p>
            </form>
        </h4>
    </div>
</div>
</body>
</html>